PRIVATE_STRAPI_URL=http://localhost:1337
PRIVATE_STRAPI_MEDIA_URL=http://localhost:1337
PRIVATE_STRAPI_TOKEN=to_be_replaced_with_your_token

PRIVATE_AUTHNET_API_LOGIN_ID=to_be_replaced_with_your_id
PRIVATE_AUTHNET_TRANSACTION_KEY=to_be_replaced_with_your_key

PRIVATE_SITE_URL=http://localhost:5173